<ng-container  *ngFor="let auto of autos">
    <div class="list">
        
        <div class="item item-icon fas fa-eye fa 3x" (click)="onSelect(auto, autoModal)" id="icono-ojo" ></div>
        
        <div class="item item-descripcion" id="descripcion-autos" >{{ auto.descripcion }}</div>
    </div>
<br>
</ng-container >

<div class="info">
    {{ autoSeleccionado.marca }} - {{autoSeleccionado.fecha_registro}}
</div>


<ng-template #autoModal > 
    <div class="modal-header"> 
        <h4 class="model-title" id="modal-title"> Descripcion </h4>
    </div>    
    <div class="modal-body"> 
        <div>{{autoSeleccionado.marca}}</div>
        <div>{{autoSeleccionado.submarca}}</div>
        <div>{{autoSeleccionado.modelo}}</div>
        <div>{{autoSeleccionado.descripcion}}</div>
        <div>{{autoSeleccionado.fecha_registro}}</div>
    </div>    
    <div class="modal-footer"> 
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Salir</button>
    </div> 

</ng-template>

