.list {
    display: flex;
    background-color: goldenrod;
    width: 100%;
    border-color: black;
    font-size: 40px;
    justify-content: space-between;
}

#icono-ojo{
    float: left;
    margin-left: 4em;
    color: black;
}

#descripcion-autos{
    float: right;
    margin-right: 2em;
    font-size: 30px;
    border-color: orangered;
}

.info{
    display: flex;
    width: 100%;
    border-color: black;
    font-size: 18px;
    justify-content: center;
    
} 